/Proyecto/App/SistemaTickets/nbproject/private/
/Proyecto/App/SistemaTickets/dist/
/Proyecto/App/SistemaTickets/build/
/Proyecto/App/Sistema tickets/nbproject/private/
/Proyecto/App/Sistema Tickets/nbproject/private/
/Proyecto/App/Sistema_tickets/target/
