/Proyecto/App/SistemaTickets/nbproject/private/
/Proyecto/App/SistemaTickets/dist/
/Proyecto/App/SistemaTickets/build/
/Proyecto/App/Sistema tickets/nbproject/private/
/Proyecto/App/Sistema Tickets/nbproject/private/
/Proyecto/App/Sistema_tickets/target/
/Proyecto/Desktop/Sistema de tickets/DiseñoApp/build/
/Proyecto/Desktop/Sistema de tickets/DiseñoApp/nbproject/private/
/Proyecto/App/Sistema ticketsv2/nbproject/private/
/Proyecto/App/Sistema ticketsv2/build/
/Proyecto/Ap/Sistema_ticketsv2/nbproject/private/
/Proyecto/Ap/Sistema_ticketsv2/build/
/Proyecto/Ap/Sistema_ticketsv2/dist/
